/*External CSS File*/
/*BODY Style*/
.bodyClass{
  background-color: seagreen;
}
/*Crop-Button Style*/
.btn {
    background: url('../images/cropIcon.png');
    height: 40px;
    width: 40px;
    background-size: 100%;
    cursor: pointer;
    border: solid 1px black;
}
/*Image-Container Style*/
.imgDivStyle{
    position: absolute;
    height: 500px;
    width: 1000px;
    top:100px;
    left:10px;
}
/*Image Style*/
.imgClass {
    position: absolute;
  }
/*Grid Style*/
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
    z-index: 5;
    height: 500px;
    width: 1000px;
    top:100px;
    left:10px;
    opacity: 0;
}
/*Grid-Item Style*/
.grid-item{
    border: 1px solid black;
}
/*Crop-Resizable-Area Style*/
.resizable{
    position: absolute;
    height: 500px;
    width: 1000px;
    top:100px;
    left:10px;
    z-index: 2;
    opacity: 0;
    background-color: grey;
}
/*Resizeable Area Subsection Style*/
.resizable .resizers{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
/*Resizeable-Elements Style: Common*/
.resizable .resizers .resizer{
    width: 10px;
    height: 10px;
    border: 4px solid #110677; 
    position: absolute;
  }

  /*Resizeable-Elements Style: Individual*/
  .resizable .resizers .resizer.top-left {
    left: -3px;
    top: -3px;
    cursor: nwse-resize; 
    border-right: none;
    border-bottom: none;
  }
  .resizable .resizers .resizer.top-right {
    right: -3px;
    top: -3px;
    cursor: nesw-resize;
    border-left: none;
    border-bottom: none;
  }
  .resizable .resizers .resizer.bottom-left {
    left: -3px;
    bottom: -3px;
    cursor: nesw-resize;
    border-right: none;
    border-top: none;
  }
  .resizable .resizers .resizer.bottom-right {
    right: -3px;
    bottom: -3px;
    cursor: nwse-resize;
    border-left: none;
    border-top: none;
  }
  .resizable .resizers .resizer.bottom-middle {
    right: 50%;
    bottom: -3px;
    cursor: ns-resize;
    border-right: none;
    border-top: none;
    border-left: none;
  }
  .resizable .resizers .resizer.top-middle {
    right: 50%;
    top: -3px;
    cursor: ns-resize;
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
  .resizable .resizers .resizer.right-middle {
    top: 50%;
    right: -3px;
    cursor: ew-resize;
    border-bottom: none;
    border-top: none;
    border-left: none;
  }
  .resizable .resizers .resizer.left-middle {
    top: 50%;
    left: -3px;
    cursor: ew-resize;
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
  /*External CSS File Ends*/